.main-content {
	background-color: #fff;
	padding: 20px;

	.share {
		.whatsapp {
			padding: 5px;
			font-size: 2rem;
			color: #25d366;
		}
		.facebook {
			padding: 5px;
			font-size: 2rem;
			color: #3b5998;
		}
		.twitter {
			padding: 5px;
			font-size: 2rem;
			color: #1da1f2;
		}
	}
}

