<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/ekklenews"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [parallaxHeader]="eventEk?.banner" [parallaxHeight]="200">
  <div class="main-content">
    <h1>{{eventEk.title}}</h1>
    <p>{{eventEk.description}}</p>

    <div class="share">
      <h4>Compartir:</h4>
    
      <ion-icon slot="icon-only" class="whatsapp" (click)="shareWhatsapp(eventEk)"name="logo-whatsapp"></ion-icon>
      <ion-icon slot="icon-only" class="facebook" (click)="shareFacebook(eventEk)"name="logo-facebook"></ion-icon>
      <ion-icon slot="icon-only" class="twitter" (click)="shareTwitter(eventEk)"name="logo-twitter"></ion-icon>
    </div>
  </div>
</ion-content>
