.main-content {
	background-color: #fff;
	padding: 0 20px;
	.share-button {
		margin-left: 34%;
	}
  .description {
		text-align: justify;
	}

	.share {
		.whatsapp {
			padding: 5px;
			font-size: 2rem;
			color: #25d366;
		}
		.facebook {
			padding: 5px;
			font-size: 2rem;
			color: #3b5998;
		}
		.twitter {
			padding: 5px;
			font-size: 2rem;
			color: #1da1f2;
		}
	}
}

