<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/tabs/more"></ion-back-button>
    </ion-buttons>
    <ion-title>Informaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="branches-information">
  <ion-list>
    <ion-item button detail 
              *ngFor="let branch of (branches$ | async)" 
              (click)="getBranchDetail(branch)">
      <ion-avatar>
        <img [src]="branch.banner || defaultImage"/>
      </ion-avatar>
      <ion-label>
        <h2>{{branch.city}}</h2>
      </ion-label>  
    </ion-item>    
  </ion-list>
</ion-content>
