.weare {
  .main-content {
    padding: 0;
    .mision {
      text-align: justify;
      font-weight: lighter;
      padding: 0 15px;
    }
    ion-grid {
      margin: 15px;
      ion-card {
        margin: 0;
        img {
          padding: 1rem;
        }
        .no-padding-bottom {
          padding-bottom: 0;
        }
        
        .ekkids {
          padding: 2rem 1rem 0 1rem;
        }
        .card-title {
          padding: 5px 0;
          text-align: center;
          font-weight: bold;
          font-size: 1.3rem;
          color: black;
        }
      }
    }
    
  } 
}