.card-background-page {  
  ion-card {
    position: relative;
    text-align: center;

    ion-card-content {
      padding: 0;

      .share-button {
		    margin-left: 50%;
      }
      p {
        margin: 0 10px;
      }
    }
  }

  .empty-message {
    margin-top: 50%;
    padding: 20px;
  }
} 

