<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="ekklenews">
      <ion-icon name="logo-rss"></ion-icon>
      <ion-label>Ekklenews</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="preachings">
      <ion-icon name="ios-book"></ion-icon>
      <ion-label>Enseñanzas</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="praying">
      <ion-icon name="ios-people"></ion-icon>
      <ion-label>Oración</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ministries">
      <ion-icon name="ios-contacts"></ion-icon>
      <ion-label>Ministerios</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="more">
      <ion-icon name="ios-more"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
