.grid-options {
  margin: 4.5rem 0;
  .options-menu {
    ion-card {
      margin: 25px 8px 0;
      img {
        display: block;
        width: 100%;
        height: 120px;
      }
      .card-title {
        padding: 5px 0;
        text-align: center;
      }
    }
  }
}

