.grid-options {
  padding: 0;
  .options-menu {
    ion-card {
      margin: 10px 8px 0;
      ion-icon {
        width: 100%;
        font-size: 6rem;
      }
      .card-title {
        padding: 5px 0;
        text-align: center;
      }
    }
  }
}

