<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Oramos Por Ti</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [scrollEvents]="true" [parallaxHeader]="imageURL" [parallaxHeight]="260">
  <div class="main-content">
    <h1>Petición de Oración</h1>
    <p>Estamos interesados en ti y en tus necesidades, y creemos que Dios responderá toda petición que hagamos de común acuerdo. 
      Envía tu petición y junto a un equipo de intercesión estaremos orando por ella.</p>
    <ion-grid class="btn-group">
      <ion-row>
        <ion-col size="6">
          <ion-button shape="round" expand="full" color="primary" (click)="call()">
            <ion-icon slot="end" name="call"></ion-icon>
            Llámanos
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button shape="round" expand="full" color="medium">
            <ion-icon slot="end" name="clipboard"></ion-icon>
            Escríbenos
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </div>
</ion-content>
