.profile {
  .profile-avatar {
    padding: 2rem 0 0.5rem;
    background: var(--ion-color-primary);
    ion-avatar {
      margin: 0 auto;
      width: 8rem;
      height: 8rem;
      border: 4px solid white;
    }
    h2, h3 {
      color: var(--ion-color-light);
    }
  }
}