.card-background-page {
  ion-card {
    margin: 0.5rem 1rem;
    img {
      display: block;
      width: 100%;
    }

    .card-title {
      position: absolute;
      top: 82%;
      font-size: 1.5em;
      width: 100%;
      padding-left: 5px;
      text-align: left;
      font-weight: bold;
      color: #fff;
    }
  }
}

